[submodule "googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "lib/hps"]
	path = lib/hps
	url = https://github.com/jl2922/hps
[submodule "lib/omp_hash_map"]
	path = lib/omp_hash_map
	url = https://github.com/jl2922/omp_hash_map.git
[submodule "lib/fgpl"]
	path = lib/fgpl
	url = https://github.com/jl2922/fgpl
