# Compilation files.
/build
/local.mk
/shci
/shci_*
/local.mk

# Runtime files.
/run
FCIDUMP*
!FCIDUMP.example
*.json
*.dat
i_*
o_*
*rdm.csv

# OS and editor files.
.vscode
.DS_Store
*.dSYM

# Other temporary files.
*.txt
*.log
*.bak
*.out
