{
  "system": "chem",
  "n_up": 4,
  "n_dn": 2,
  "eps_vars": [
    1e-3
  ],
  "eps_vars_schedule": [
    2e-3,
    1e-3,
    5e-4,
    2e-4,
    1e-4
  ],
  "var_only": true,
  "eps_pt": 1e-5,
  "eps_pt_pre_dtm": 1e-4,
  "eps_pt_dtm": 2e-5,
  "n_batches_pt_dtm": 8,
  "n_batches_pt_sto": 4,
  "n_samples_pt_sto": 10000,
  "target_error": 0.0001,
  "max_pt_iterations": 10,
  "chem": {
    "point_group": "d2h",
    "irreps": [
      1,
      2,
      3,
      4,
      5,
      6,
      7,
      8,
      9,
      10
    ],
    "irrep_occs_up": [
      1,
      1,
      1,
      0,
      1,
      0,
      0,
      0,
      0,
      0
    ],
    "irrep_occs_dn": [
      1,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      0
    ]
  }
}
