{
  "system": "chem",
  "n_up": 4,
  "n_dn": 2,
  "eps_vars": [
    5e-5,
    2e-5,
    1e-5
  ],
  "eps_vars_schedule": [
    2e-3,
    1e-3,
    5e-4,
    2e-4,
    1e-4
  ],
  "chem": {
    "point_group": "d2h"
  }
}
